<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="stylesheet" href="{{ 'style.scss.css' | asset_url }}">
    <title>Theme by Joseph Myalla</title>
    {{ content_for_header }}
  </head>

  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
      {% section 'header' %}
      {{ content_for_layout }}
  </body>
</html>
